<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible"
content="IE=edge">
<meta name="viewport" content="width=device-width,
initial-scale=1.0">
<title>Formulario2</title>
</head>
<body>


    <h1>Formulario de Curso</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td><label for="id_curso">Nombre del Curso:</label></td>
                <td>{{ miFormulario.nombre }}</td>
            </tr>
            <tr>
                <td><label for="id_camada">Camada:</label></td>
                <td>{{ miFormulario.camada }}</td>
            </tr>
        </table>
        <button type="submit">Guardar</button>
    </form>

    
</body>
</html>





